    <div>
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top bottom ">
            <div class="col-md-12 justify-content-center d-flex align-items-center">
                <img class="bi" width="30" height="24" src="../img/pruebas.png"></img>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
            </div>
        
            <div class="col-12 poli">
                <a href="">
                    <div>
                        <p>Aviso legal</p>
                    </div>
                </a>
                <a href="/politicas-de-privacidad">
                    <div>
                        <p>Política de privacidad</p>
                    </div>
                </a>
                <a href="">
                    <div>
                        <p>Ubicaciones</p>
                    </div>
                </a>
            </div>

            <ul class="nav col-md-12 justify-content-center list-unstyled d-flex text-center">
                <li class="d-flex justify-content-center"><a class="text-body-secondary" href="#"><img class="bi" width="24" height="24" src="../img/footer/instagram_1.png"></img></a></li>
                <li class="d-flex justify-content-center"><a class="text-body-secondary" href="#"><img class="bi" width="24" height="24" src="../img/footer/facebook.png"></img></a></li>
                <li class="d-flex justify-content-center"><a class="text-body-secondary" href="#"><img class="bi" width="24" height="24" src="../img/footer/x.png"></img></a></li>
            </ul>
        </footer>
      </div>
